---
layout: post
title: "reviews"
permalink: /reviews/
---

{% assign manifesto = site.reviews | where: "category", "manifesto" %}
{% for post in manifesto %}
<p><a href="{{ post.url | relative_url }}">{{ post.title }}</a></p>
{% endfor %}

<h2>songs</h2>
<ul>
    {% assign songs = site.reviews | where: "category", "song" | sort: "title" %}
    {% for post in songs %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<h2>anime</h2>
<ul>
    {% assign anime = site.reviews | where: "category", "anime" | sort: "title" %}
    {% for post in anime %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<h2>movies</h2>
<ul>
    {% assign movies = site.reviews | where: "category", "movie" | sort: "title" %}
    {% for post in movies %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
